{% extends 'base.html' %}

{% block body_scripts %}
<style>
  /* disable top searchbar in mobile when not on search page */
  @media screen and (max-width: 768px) {
    #searchbar-container {
      display: none;
    }
  }
</style>
{% endblock %}

{% block results %}
<div class="content">
  <p class="title">About this page</p>
  <p>
    This page was created out of some frustration with the current IACR ePrint search engine, in an attempt to improve the quality of the search results and to add the possibility to better exclude undesired results.</p>
  <p>
    While ePrint has a trove of useful information, it sometimes can be hard to find results on specific authors, or even identify a paper by searching it by title. This results in transforming searches into Google Scholar or simple Google searches instead. While this works well, sometimes it results in finding paywalled links, rather than simply the corresponding open access eprint version.
  </p>
  <p>
    To address some of the missing search functionality, I started developing a script for personal use, that would help me search for specific results on ePrint. This experiment kept growing, and eventually I decided to try and turn it into a proper search engine. 
    The current solution used in this web page (based on the <a href="https://xapian.org" target="_blank">Xapian</a> search engine library) seems to work sufficiently well, and I find myself using it more and more as a personal search tool. I believe this could potentially be a useful tool for others.
  </p>
  <p>
    I should stress my thanks to the people behind ePrint, for making such a great platform available (despite my frustration with search!), and for providing an <a href="https://eprint.iacr.org/oai?verb=Identify" target="_blank">open API</a> to query most of the data.
  </p>
  <p>
    You can find more details about the implementation of the interface and backend of this website, instructions on how to run your own instance, and report any issues, on the <a href="https://gitlab.com/better-eprint-search/bps" target="_blank">public repository</a>.
  </p>
  <p class="subtitle">Data collection</p>
  <p>
    Currently this website collects some statistics about visitors, via <a href="https://getinsights.io" target="_blank">Insights</a>, to track what usage is being made of the website. Naturally, no statistics are collected on self-hosted instances of the engine.
  </p>
</div>
{% endblock %}
