<!DOCTYPE html>
<html>
<head class="has-navbar-fixed-top">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/normalize.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bulma.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bulma.tooltip.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/baloon.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/baloon.custom.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/template.css') }}" />
  <script type="text/javascript" src="{{ url_for('static', filename= 'js/getvars.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename= 'js/bibtex.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename= 'js/search.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename= 'js/burger.js') }}"></script>
  {% block custom_head %} {% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/responsiveness.css') }}" />
</head>
<body>
  <div id="body-div">
    <nav id="top-nav" class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">Better ePrint Search</a>
        <a id="burger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start"></div>
        <div class="navbar-item"></div>
        <div class="navbar-end">
          <a class="navbar-item" href="/about">About</a>
          <a class="navbar-item" href="/limitations">Limitations</a>
        </div>
      </div>
    </nav>
    <div id="searchbar-container">
      <div id="searchbar" class="level">
        <div id="searchbar-input" class="level-item">
          <input id="searchstr" class="input" type="text" placeholder="Search query">
        </div>
        <div id="searchbar-options">
          {% block adv_search_button %} {% endblock %}
          <div class="select">
            <select name="field" id="field">
              <option value="any">any</option>
              <option value="title">title</option>
              <option value="authors">authors</option>
              <option value="abstract">abstract</option>
            </select>
          </div>
          <div>
            <input type="checkbox" id="prioritise-latest" name="prioritise-latest" value="prioritise-latest">
            <label for="prioritise-year" onclick="toggle_checkbox('prioritise-latest')" class="has-tooltip-arrow has-tooltip-bottom has-tooltip-warning has-tooltip-multiline" data-tooltip="May show less relevant results"> Prioritise latest</label>
            &ensp;
          </div>
          <div>
            <button id="searchbtn" class="button is-primary" onclick="submit_search()">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div id="mobile-menu-container" class="my-is-hidden">
      <div id="mobile-menu">
        <a class="navbar-item" href="/about">About</a>
        <a class="navbar-item" href="/limitations">Limitations</a>
      </div>
    </div>
    <div id="content-container" class="columns">
      {% block leftsidebar %} {% endblock %}
      {% block results %} {% endblock %}
    </div>
    <footer id="footer" class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>This is an experimental release.</strong>
          {% if last_updated %} Data last updated: {{ last_updated }}. {% endif %}
          Built by <a href="https://fundamental.domains">Fernando Virdia</a>, using publicly available data from the <a href="https://eprint.iacr.org">Cryptography ePrint Archive</a>.
        </p>
      </div>
    </footer>
  </div>
  {% block body_scripts %} {% endblock %}
  {% if track_statistics %}
  <script src="https://getinsights.io/js/insights.js"></script>
  <script>
  insights.init('{{ statistics_api_key }}');
  insights.trackPages();
  </script>
  {% endif %}
</body>
</html>