{% extends 'base.html' %}

{% block custom_head %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/icons.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/papercards.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename= 'js/card.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/advsearch.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/pagination.js') }}"></script>
{% endblock %}

{% block adv_search_button %}
<button id="advsearchoptsbtn" class="button is-info" onclick="mobile_adv_options()">Advanced options</button>
{% endblock %}

{% block leftsidebar %}
<!-- sidebar -->
<div id="sidebar" class="column is-2 my-mobile-is-hidden">
  <div class="title is-6" style="text-align: center;">Advanced search filters</div>
  <div class="block">
    <label class="label">Author(s)</label>
    <div class="field">
      <div class="control">
        <input id="adv-author" class="input" type="text" placeholder="e.g Jane Bloggs">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input id="adv-author-blacklist" class="input" type="text" placeholder="Must not contain (comma separated)">
      </div>
    </div>
  </div>
  <div style="text-align: center;">and</div>
  <div class="block">
    <label class="label">Title</label>
    <div class="field">
      <div class="control">
        <input id="adv-title-search" class="input" type="text" placeholder="e.g New Directions">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input id="adv-title-blacklist" class="input" type="text" placeholder="Must not contain (comma separated)">
      </div>
    </div>
  </div>
  <div style="text-align: center;">and</div>
  <div class="block">
    <label class="label">Abstract</label>
    <div class="field">
      <div class="control">
        <input id="adv-abstract" class="input" type="text" placeholder="e.g X but post-quantum">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input id="adv-abstract-blacklist" class="input" type="text" placeholder="Must not contain (comma separated)">
      </div>
    </div>
  </div>
  <div class="block">
    <label class="label withicon">Years <button class="button is-smaller is-rounded" onclick="resetYears()">Reset</button></label>
    <div class="field">
      <div class="control">
        <label for="min">From</label>
        <input id="adv-min-year" type="number" name="min" value="1996" min="1996" max="2020">
        <br/>
        <label for="max">To</label>
        <input id="adv-max-year" type="number" name="max" value="2020" min="1996" max="2020">
      </div>
    </div>
  </div>
  <div class="block">
    <label class="label">Prioritise</label>
    <div class="field">
      <div class="control">
        <span>
          <input type="radio" id="prioritise1" name="prioritise" value="relevance" checked>
          <label for="prioritise1">Relevance</label>
        </span>
        <br/>
        <span>
          <input type="radio" id="prioritise2" name="prioritise" value="newest">
          <label for="prioritise2">Newest</label>
        </span>
        <br/>
        <span>
          <input type="radio" id="prioritise3" name="prioritise" value="oldest">
          <label for="prioritise3">Oldest</label>
        </span>
      </div>
    </div>
  </div>
  <button id="advsearchbtn" class="button is-info" onclick="submit_advanced_search()">Advanced search</button>
</div>
{% endblock %}

{% block results %}
<div id="results" class="column">
  <!-- pagination code -->
  {% if papers is defined and papers|length > 0 %}
  <nav class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous" onclick="prevpage({{ pagination.1 }})">Previous page</a>
    <a class="pagination-next" onclick="nextpage({{ pagination.1 }})">Next page</a>
    <ul class="pagination-list">
      {% for item in pagination.0 %}
      <li>
        {% if item == '...' %}
        <span class="pagination-ellipsis">&hellip;</span>
        {% else %}
        <a class="pagination-link" aria-label="Goto page {{ item }}" onclick="openpage({{ item }})">{{ item }}</a>
        {% endif %}
      </li>
      {% endfor %}
      <li>
        <a class="pagination-link is-current" aria-label="Page {{ pagination.1 }}" aria-current="page">{{ pagination.1 }}</a>
      </li>
      {% for item in pagination.2 %}
      <li>
        {% if item == '...' %}
        <span class="pagination-ellipsis">&hellip;</span>
        {% else %}
        <a class="pagination-link" aria-label="Goto page {{ item }}" onclick="openpage({{ item }})">{{ item }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}

  <!-- paper cards rendering -->
  <div id="cards-container">
    {% if papers is defined and papers|length > 0 %}
    {% for paper in papers %}
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          <span class="class-header-title-title">{{ paper['title'] }}</span>
          <span class="class-header-title-eprint-id">({{ paper['year'] }}/{{ paper['number'] }})</span>
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <h6>Authors</h6>
          <p>
            {% for author in paper['authors'] %}
              {{ author['name'] }}{% if author['orcid'] %}<a class="orcid" target="_blank" href="https://orcid.org/{{ author['orcid'] }}"><img class="orcid" src="{{ url_for('static', filename= 'orcid-bw.svg') }}"></a>{% endif %}{% if author['affiliations'] != '' %}, <i>{{ author['affiliations'] }}</i>{% endif %}
              <br/>
            {% endfor %}
          </p>
          <h6>Abstract</h6>
          <blockquote class="hide-abstract">{{ paper['abstract'] }}<div class="hide-abstract"></div><a class="hide-abstract" onclick="toggleAbstractMobile(this)">(show hidden)</a></blockquote>
          <p>
            <span>{% if paper['venue'] %}Publication status: {{ paper['venue'] }}{% endif %}</span>
            <span class="paper-dates">First uploaded: <time datetime="{{ paper['first_uploaded'] }}">{{ paper['first_uploaded'] }}</time>, last revision: <time datetime="{{ paper['last_revision'] }}">{{ paper['last_revision'] }}</time></span>
          </p>
        </div>
      </div>
      <footer class="card-footer">
        <a target="_blank" href="{{ paper['url'] }}" class="card-footer-item">Open on IACR ePrint</a>
        <a target="_blank" href="{{ paper['url'] }}.{{ paper['filetype'] or 'pdf' }}" class="card-footer-item">Open paper</a>
        <a href="#" data-balloon-pos="up" class="card-footer-item bibtex-link has-tooltip-arrow has-tooltip-bottom" data-tooltip="Will copy to clipboard" onclick="gen_bibtex(event, '{% for author in paper['authors'] %}{{ author['name'] }} and {% endfor %}', '{{ paper['title'] }}', '{{ paper['year'] }}', '{{ paper['number'] }}');">Copy Bibtex</a>
      </footer>
    </div>
    {% endfor %}
    {% else %}
    <p>No results</p>
    {% endif %}
  </div>
</div>
{% endblock %}