{% extends 'base.html' %}

{% block body_scripts %}
<style>
  /* disable top searchbar in mobile when not on search page */
  @media screen and (max-width: 768px) {
    #searchbar-container {
      display: none;
    }
  }
</style>
{% endblock %}

{% block results %}
<div class="content">
  <p class="title">Limitations</p>
  <p>
    Being a personal side project, the search functionality on this page presents some limitations, that may or may not be addressed in time.
  </p>
  <p>In no particular order:</p>
  <ul>
    <li>The main body of the paper is not indexed, only the metadata and the abstract.</li>
    <li>Widthrawn papers may not appear on the paper list, even if they appear still on ePrint.</li>
    <li>New papers are pulled at fixed intervals, and may take a few hours to appear.</li>
    <li>Search is accent-sensitive, meaning that authors whose names contain diacritical marks may be harder to find if these are not used.</li>
  </ul>
</div>
{% endblock %}