.clear-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  line-height: 16px;

  -moz-border-radius: 8px;
  border-radius: 8px;

  background-color: black;
  color: white;
  text-align: center;
  font-size: 11px;
}

.withicon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button.is-smaller {
  font-size: .6rem;
}