#cards-container {
  padding: 0 2em 0 1em; flex-grow: 1; overflow-y: scroll;
}

#cards-container > .card {
  margin: 1px 0 2em 0;
}

#cards-container .card-header-title {
  display: flex; justify-content: space-between
}

#cards-container .paper-dates {
  float: right;
}

.orcid {
  margin-left: 1pt;
  margin-bottom: 2pt;
}

.orcid > img {
  height: .9em;
}