#sidebar {
  min-width: 200px;
}

#searchbar-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

#searchbar-options .select {
  margin: 0 10px 0 10px;
}

footer.card-footer {
  width: 100%;
}

.card-content blockquote {
  position: relative;
}

.card-content blockquote > a,
.card-content blockquote > a:link,
.card-content blockquote > a:visited,
.card-content blockquote > a:hover,
.card-content blockquote > a:active {
  color: #485fc7;
}

/* mobile */
@media screen and (max-width: 768px) {
  #searchbar {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
  }

  #searchbar-input {
    width: 80vw;
  }

  #searchbar .level-item {
    /* margin-bottom: auto; */
  }

  #sidebar {
    /* display: none; */
    background-color: hsl(0, 0%, 97%);
    margin-top: 20px;
  }

  #searchbar-options {
    margin-bottom: .75rem;
    justify-content: center;
  }

  #searchbar-options .select {
    margin: inherit;
  }

  #searchbar-options>* {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .pagination-list {
    display: none;
  }

  blockquote.hide-abstract {
    overflow: hidden;
    height: 6rem;
  }

  div.hide-abstract {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(245,245,245,1) 0%, rgba(255,255,255,0) 100%);
  }

  a.hide-abstract {
    position: absolute;
    bottom: 2pt;
    right: 3pt;
    /* display: block; */
    text-align: right;
    background: rgb(245,245,245);
    font-style: italic;
    /* color: gray; */
  }

  #cards-container {
    overflow-y: hidden;
  }
}

#mobile-menu-container {
  /* display: flex;
    justify-content: end; */
  position: absolute;
  top: 3.25rem;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background: white;
  width: inherit;
}

#mobile-menu {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

.my-is-hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .my-mobile-is-hidden {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .my-mobile-is-hidden {
    display: inherit;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  #advsearchoptsbtn {
    display: none;
  }

  #searchbar {
    /* background-color: blue; */
    min-height: 3.25rem;
    width: inherit;
  }

  #searchbar-container {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;

    position: absolute;
    top: 0;
    z-index: 999;
    left: 175px;
    right: 75px;
  }

  #searchbar-options {
    flex-wrap: inherit;
  }

  #mobile-menu-container {
    left: auto;
    width: 200px;
    border-left: 1px solid #ddd;
  }

  #cards-container {
    height: 0;
  }

  #results {
    max-width: calc(98vw - 200px);
  }

  div.hide-abstract {
    display: none;
  }

  a.hide-abstract {
    display: none;
  }
}

/* desktop */
@media screen and (min-width: 1024px) {
  #searchbar {
    /* background-color: yellow; */
    min-height: 3.25rem;
    width: 60vw;
  }

  #searchbar-container {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;

    position: absolute;
    top: 0;
    z-index: 999;
    left: 175px;
    right: 175px;
  }

  #mobile-menu-container {
    display: none;
  }
}