#body-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#top-nav {
  margin-bottom: 1em;
  background: #fafafa;
}

#content-container {
  flex-grow: 1;
  margin: -0.5em 1em 0 1em;
}

#footer {
  padding: 1em 0 1em 0;
}

#sidebar {
  flex-direction: column;
}

#adv-min-year, #adv-max-year {
  width: 5rem;
}

#results {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}